{% extends "base.html" %}
{% block content %}
{% load static %}
<main>
        <h1 class="tituloMain">SPARTANS<br/>É NOIS QUE VOA.</h1>
        <img src="{% static 'img/search.png' %}" alt="anuncio da Spartans" id="imgTopo">
        <div id="cursos">
            <h1 class="titulosContainer">CURSOS</h1>
            <div class="containers cursos" >
                {% for curso in cursosL1 %}
                <div class="card cardCurso">
                <a href="{% url "detalheCurso" curso.url %}">{{ curso.nome }}</a>
                <img src="{% static curso.img %}" alt="logo do curso de {{ curso.nome }}" class="imgCursos">
                </div>
                {% endfor %}
            </div>
            <div class="containers cursos" >
                {% for curso in cursosL2 %}
                <div class="card cardCurso">
                <a href="{% url "detalheCurso" curso.url %}">{{ curso.nome }}</a>
                <img src="{% static curso.img %}" alt="logo do curso de {{ curso.nome }}" class="imgCursos">
                </div>
                {% endfor %}
            </div>
        </div>

    </main>

{% endblock %}
