{% extends "baseforms.html" %}
{% block content %}
{% load static %}
<body id="bodyPrincipal">
    	<main id="mainlogin">
        	<div id="arealogin">
				<img src="{% static "img/logo.png" %}" alt="logo da impacta" id="logoLogin" >
				{% if erro %}
				<p style='color:red'>{{ erro }}</p>
				{% else %}
				{% endif %}
                <form id="formLogin" method="POST" action="">
                	<div class="containerInput">
                        <label>
                            <strong class="label">EMAIL</strong>
                            <input class="inputLogin" type="email" name="email">
                        </label>
					</div>
					<div class="containerInput">
                        <label>
                            <strong class="label">SENHA</strong>
                            <input class="inputLogin" type="password" name="senha">
                        </label>
					</div>
					<div class="containerInput">
                        <label id="rememberLabel">
                            <input type="checkbox" checked="checked" name="remember">
							<strong class="label">LEMBRAR-ME</strong>
                        </label>
					</div>
                    <div id="divSubmit">
                        <input type="submit" class="btn">
                    </div>
                </form>
            </div>
    	</main>
	</body>
{% endblock %}
</html>
