{% extends "base.html" %}
{% block content %}
	<body id="bodyPainelAdmin">
    	<main >
        	<div id="areaPainelAdmin">
				<img src="img/logo.png" alt="logo da impacta" id="logoLogin" >
                <div id="containerPainelAdmin">
                    <a class="btn btnPainelAdmin" href="formulario_curso.html">Novo Curso</a>
                    <a class="btn btnPainelAdmin" href="formulario_disciplina.html">Nova Disciplina</a>
                </div>
            </div>
        </main>
	  </body>
{% endblock %}
