{% extends "baseRestrito.html" %}
{% block content %}
        <main>
            <div>
                <div>
                    <h1 class="tituloCrud">ENTREGAS PARA CORREÇÃO - {{request.sessao.usuario.nome}}</h1>
                </div>
                    <div class="table">
                        <table>
                            <thead>
                                <tr>
                                    <th>
                                        NOME DAS ATIVIDADES ENTREGUES
                                    </th>
                                    <th>
                                        ALTERAR
                                    </th>
                                    <th>
                                        REMOVER
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entrega in entregas %}
                                    <tr>
                                        <td>
                                            {{ entrega.titulo }}
                                        </td>
                                        <td>
                                            <a class="myButton" href="{% url 'alterarentrega' entrega.identrega %}">ALTERAR</a>
                                        </td>
                                        <td>
                                            <a class="myButton" href="{% url 'deletarentrega' entrega.identrega %}" onclick="return confirm('Tem certeza que deseja excluir?')">REMOVER</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                  </ul>
                </div>
            </div>
        </main>
{% endblock %}
